[package]
name = "uc-intg-hass"
version = "0.2.0"
edition = "2021"
authors = ["Markus Zehnder <markus.z@unfoldedcircle.com>"]
license = "MPL-2.0"
description = "Unfolded Circle Home-Assistant integration for Remote Two"
#repository = "https://github.com/unfoldedcircle/integration-home-assistant"

[profile.release]
strip = true  # Automatically strip symbols from the binary.

[features]
default = []
mdns-sd = ["dep:mdns-sd"]
zeroconf = ["dep:zeroconf"]

[dependencies]
uc_api = { git = "https://github.com/unfoldedcircle/api-model-rs", tag = "v0.7.1-alpha" }
#uc_api = { git = "https://github.com/unfoldedcircle/api-model-rs", rev = "b92dbde77ea7ff800aab4505547e0792d985430f" }
# for local development:
#uc_api = { path = "../api-model-rs" }

# WebSockets server
actix-web = { version = "4.0.1", features = ["rustls"] }
actix-web-actors = "4.1.0"
actix = "0.13"
actix-tls = { version = "3.0.3", features = ["rustls"] }
bytestring = "1"
rustls = { version = "0.20", features = ["dangerous_configuration"] }
rustls-pemfile = "1"
# WebSockets client
actix-codec = "0.5"
awc = { version = "3.0.0", features = ["rustls"] }
bytes = "1"
futures = "0.3"

# see mdns-sd patch at the end of this file
mdns-sd = { version = "0.7.3", optional = true }
if-addrs = "0.10"
hostname = "0.3"
# see zeroconf patch at the end of this file
zeroconf = { version = "0.10.5", optional = true }

# JSON (de)serialization
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "3"

rust-fsm = "0.6"

clap = "3"
config = { version = "0.13", default-features = false, features = ["yaml", "json"] }
const_format = "0.2"
env_logger = "0.10"
lazy_static = "1.4"
log = "0.4"

uuid = { version = "1.0.0", features = ["v4"] }
url = { version = "2", features = ["serde"] }
time = { version = "0.3", default-features = false, features = ["std", "formatting"] }

# Helpful macros for working with enums and strings
strum = "0.24"
strum_macros = "0.24"
derive_more = "0.99"

[build-dependencies]
built = { version = "0.6", features = ["git2", "chrono", "semver"] }

[dev-dependencies]
rstest = "0.17"

[patch.crates-io]
mdns-sd = { git = "https://github.com/zehnm/mdns-sd", rev = "401bab9b34f1a79c06b87432071abb2d4a379a75" }
# PR ERobsham:bugfix/respect_timeout_on_linux
zeroconf = { git = "https://github.com/ERobsham/zeroconf-rs", rev = "a6e399d16dc04f94bf87ef60be222e966b94bd86" }
