name: Security audit
on:
  push:
    # only build on pushes to main
    branches:
      - main
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - '.github/**/audit-on-push.yml'

# prevent concurrent runs of this workflow for open pull requests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Cache cargo-bin
        id: cache-dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
          key: ${{ runner.os }}-cargo-bin

      - name: Install cargo audit
        shell: bash
        run: |
          if [[ ! -x "$(command -v cargo-audit)" ]]; then
            echo "cargo-audit not found, installing it with cargo"
            cargo install --force cargo-audit
          fi;

      - run: cargo audit
